.wrapper
    color: var(--text-color)
    font-weight: 500
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    gap: 20px

.box
    display: flex
    gap: 20px
    align-items: center

.box-item
    flex: 1

    .line-chart
        // display: flex
        // width: 100%
        // height: 100%
        // padding: 30px
        // flex-direction: column
        // align-items: flex-start
        // gap: 10px
        // border-radius: 20px
        // background: #FFF
        // // box-shadow: 2px 2px 6px 0px rgba(7, 104, 67, 0.25)
        // box-shadow: 2px 2px 4px 0px rgba(15, 209, 134, 0.25)

        // color: var(--text-color)
    

.card
    display: flex
    gap: 20px

.card-item
    display: flex
    width: 100%
    height: 100%
    flex-direction: column
    align-items: center
    gap: 10px
    border-radius: 20px
    background: #FFF
    box-shadow: 2px 2px 4px 0px rgba(15, 209, 134, 0.25)
    overflow: hidden
    color: var(--text-color)


.item-header
    width: 100%
    height: 100px
    display: flex
    align-items: center
    justify-content: space-between
    overflow: hidden
    padding: 0 30px

    .header-title
        display: flex
        flex-direction: column
        gap: 10px

    .header-image
        position: relative
        height: 80%

        img
            height: 100%

        .chart
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%

.education
    background: #FF885A

.skill
    background: #37D99A

.exercise
    background: #FFF7D9

