// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #0fd186; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0caa6d; 
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


:root {
  --primary-color: #0FD186;
  --v2-primary-color: #5FE0AE;
  --v3-primary-color: #CFF6E7;
  --secondary-color: #FF7039;
  --v2-secondary-color: #FFA07B;
  --v3-secondary-color: #FFDDD8;
  --tertiary-color: #FFF5D2;
  --v2-tertiary-color: #D4CCAF;
  --text-color: #00355D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto' , sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: fit-content;
}